<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/web/assets/styles.css">
<div class="header">
    <a class="logo">Covid Statistics Tracker</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
    </div>
</div>
<main>
    <div class="intro">
        <p>Web Application for Tracking Covid Related Statistics Worldwide and by Country.</p>
    </div>
    <div class="container">
    <div>
        <label>Choose Historical Date:
            <input name="chosen-date" type="date" id="chosen-date" value={{.ChosenDate}}>
        </label>
    </div>
    <div>
        <label for="chosen-country">Choose a country:</label>
        <select name="country" id="chosen-country">
            <option value={{.}}>All</option>
            {{ range.Results.Countries }}
            <option  value={{.}}>{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <div >
        <form id="retrieve-stats" onclick="myFunction()" method="post" class="alignButtons">
            <input type="submit" value="Retrieve Stats"  />
        </form>
    </div>
    </div>
</main>

<script>
    datePicker = document.getElementById("chosen-date")
    datePicker.setAttribute("max" , new Date().toISOString().split("T")[0])
    datePicker.setAttribute("value" , new Date().toISOString().split("T")[0])

    function myFunction() {
        var e = document.getElementById("chosen-country");
        var country = e.options[e.selectedIndex].text
        var date = document.getElementById("chosen-date").value;

        if (date === new Date().toISOString().split("T")[0] ) {
            document.getElementById("retrieve-stats").setAttribute('action' , `/searchLive?country=${country}`)
        }
        if (date !== new Date().toISOString().split("T")[0]) {
            document.getElementById("retrieve-stats").setAttribute(`action` , `/searchHistorical?country=${country}&date=${date}`)
        }
    }
</script>